{% extends 'base.jinja' %}
{% block content %}
  <h3>Sign Up</h3>
  <form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.email.label }}<br>
      {{ form.email (size=32) }}
      {% for error in form.email.errors %}
        <br><span class="err-msg">{{ error }}</span><br>
      {%endfor%}
    </p>
    <p>
      {{ form.username.label }}<br>
      {{ form.username (size=32) }}
      {% for error in form.username.errors %}
        <br><span class="err-msg">{{ error }}</span><br>
      {%endfor%}
    </p>
    <p>
      {{ form.first_name.label }}<br>
      {{ form.first_name (size=32) }}
      {% for error in form.first_name.errors %}
        <br><span class="err-msg">{{ error }}</span><br>
      {%endfor%}
    </p>
    <p>
      {{ form.last_name.label }}<br>
      {{ form.last_name (size=32) }}
      {% for error in form.last_name.errors %}
        <br><span class="err-msg">{{ error }}</span><br>
      {%endfor%}
    </p>
    <p>
      {{ form.password.label }}<br>
      {{ form.password (size=32) }}
      {% for error in form.password.errors %}
        <br><span class="err-msg">{{ error }}</span><br>
      {%endfor%}
    </p>
    <p>
      {{ form.password2.label }}<br>
      {{ form.password2 (size=32) }}
      {% for error in form.password2.errors %}
        <br><span class="err-msg">{{ error }}</span>
      {%endfor%}
    </p>
    <p> {{ form.submit() }} </p>
  </form>
{% endblock content %}